@charset "UTF-8";
:root {
  --primary: #004CBE;
  --red: #E62D15;
  --black: #000000;
  --white: #FFFFFF;
  --dark: #383838;
  --bg-gray: #EDF1F5;
}

/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "TikTok Sans";
  src: url("../fonts/TikTok Sans/TikTokSans_24pt_SemiExpanded-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TikTok Sans";
  src: url("../fonts/TikTok Sans/TikTokSans_24pt_Expanded-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-family: "TikTok Sans";
  font-size: 14px;
}
body.popup-open {
  overflow: hidden;
}

.app-content {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 100%;
  padding: 0 24px;
}

.header {
  padding-top: 30px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header__location {
  position: relative;
}
.header__location-current {
  background: var(--bg-gray);
  border-radius: 40px;
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.header__location-current::before {
  content: "";
  width: 24px;
  aspect-ratio: 4/4;
  background-image: url("../images/icons/location.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__location-current::after {
  content: "";
  width: 10px;
  height: 6px;
  background-image: url("../images/icons/arrow-b.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__location-list {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.header__call {
  font-weight: 500;
  font-size: 16px;
}
.header__email a {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.header__btns {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.header__btn {
  background: var(--bg-gray);
  border-radius: 8px;
  padding: 13px 20px;
}
.header__cart {
  background: var(--red);
  padding: 8px 8px 8px 20px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--white);
}
.header__cart::before {
  content: "";
  width: 24px;
  aspect-ratio: 4/4;
  background-image: url("../images/icons/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__cart-count {
  border-radius: 4px;
  padding: 6px 10px;
  background: var(--white);
  font-weight: 500;
  color: var(--black);
}
.header__nav {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
}
.header__search-btn {
  padding-left: 20px;
}
.header__catalog {
  background: var(--primary);
  border-radius: 8px;
  padding: 11px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
}
.header__catalog::before {
  content: "";
  width: 10px;
  aspect-ratio: 4/4;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../images/icons/catalog.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.footer {
  padding: 50px;
  background: #33353C;
  color: var(--white);
  overflow: hidden;
}
.footer__inner {
  position: relative;
  z-index: 0;
}
.footer__inner::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -70px;
  right: 0;
  height: calc(100% + 50px + 20px);
  aspect-ratio: 16/10;
  background-image: url("../images/footer_img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}
.footer__header-logo {
  max-width: 309px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
}
.footer__contacts {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}
.footer__call-wrapper {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  padding: 20px 20px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 43px;
}
.footer__call {
  font-weight: 500;
  font-size: 20px;
}
.footer__call-btn {
  background: var(--primary);
  border-radius: 6px;
  padding: 12px 20px;
  font-weight: 500;
}
.footer__email {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.footer__info {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 26px;
}
.footer__address {
  opacity: 0.6;
}
.footer__info nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  line-height: 1.1;
}
.footer__info nav ul a {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.footer__bottom {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 12px;
}
.footer__copyright {
  opacity: 0.6;
}
.footer__mark {
  max-width: 315px;
  opacity: 0.5;
  text-align: right;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  padding: 0 20px;
}
.popup.active {
  opacity: 1;
  pointer-events: auto;
}
.popup__body {
  max-width: 400px;
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
}
.popup__body::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .popup__body {
    padding: 20px;
  }
}
.popup__body .popup__close {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/closePopup.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  right: 20px;
}

.btn {
  background: var(--red);
  border-radius: 8px;
  padding: 20px;
  font-weight: 500;
  color: var(--white);
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 470px;
          flex: 0 0 470px;
  background: var(--bg-gray);
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.sidebar__logo {
  max-width: 334px;
  margin: 0 auto;
}
.sidebar__inner {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__inner::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.sidebar__inner::-webkit-scrollbar-thumb {
  background: #6c7481;
  border-radius: 27px;
}
.sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}
.sidebar__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
  color: var(--dark);
}
.sidebar__title {
  font-weight: 500;
}
.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.sidebar__icon {
  width: 24px;
  aspect-ratio: 4/4;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.sidebar__icon svg {
  width: 100% !important;
  height: auto !important;
}
.sidebar__text {
  font-weight: 500;
  font-size: 14px;
}
.sidebar__btn {
  max-width: 289px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}