.sidebar{
    flex: 0 0 470px;
    background: var(--bg-gray);
    padding: var(--spacing24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 1900px){
        flex: 0 0 350px;
    }
    @media (max-width: 1600px){
        flex: 0 0 320px;
    }
    @media (max-width: 1400px){
        display: none;
    }
    &__logo{
        max-width: 334px;
        margin: 0 auto;
    }
    &__inner{
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::-webkit-scrollbar{
            width: 5px;
            background: 
            transparent;
        }
        &::-webkit-scrollbar-thumb{
            background: #6c7481;
            border-radius: 27px;
        }
    }
    &__body{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        @media (max-width: 1600px){
            gap: 30px;
        }
    }
    &__section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        //Text
        color: var(--dark);
        @media (max-width: 1600px){
            gap: 30px;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 16px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__item{
        &:first-child a{
            padding-top: 0;
        }
        &:last-child a{
            padding-bottom: 0;
        }
    }
    &__link{
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 18px;
        @media (max-width: 1600px){
            padding: 10px 0;
        }
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__icon{
        width: var(--spacing24);
        aspect-ratio: 4/4;
        flex-shrink: 0;
        display: flex;
        svg{
            width: 100% !important;
            height: auto !important;
        }
    }
    &__text{
        font-weight: 500;
        font-size: 14px;
    }
    &__btn{
        max-width: 289px;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        @media (max-width: 1600px){
            margin-top: 0;
        }
    }
}