.sidebar{
    flex: 0 0 470px;
    background: var(--bg-gray);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    &__logo{
        max-width: 334px;
        margin: 0 auto;
    }
    &__inner{
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::-webkit-scrollbar{
            width: 5px;
            background: 
            transparent;
        }
        &::-webkit-scrollbar-thumb{
            background: #6c7481;
            border-radius: 27px;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }
    &__section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        //Text
        color: var(--dark);
    }
    &__title{
        font-weight: 500;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    &__link{
        display: flex;
        align-items: center;
        gap: 18px;
    }
    &__icon{
        width: 24px;
        aspect-ratio: 4/4;
        flex-shrink: 1;
        svg{
            width: 100% !important;
            height: auto !important;
        }
    }
    &__text{
        font-weight: 500;
        font-size: 14px;
    }
    &__btn{
        max-width: 289px;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
}