.calculation-form + .about-us-front{
    @media (max-width: 1000px){
        padding-top: 0;
    }
}

.calculation-form{
    // padding: var(--spacing24) 0;
    padding: 80px 0 var(--spacing24) 0;
    @media (max-width: 1000px){
        padding: 60px 0;
        .container{
            padding: 0;
        }
    }
    &.pb{
        padding-bottom: 80px;
        @media (max-width: 600px){
            padding-bottom: 0px;
        }
    }
    &__inner{
        max-width: 1082px;
        width: 100%;
        margin: 0 auto;
    }
    .title-section{
        margin-bottom: 50px;
        @media (max-width: 1000px){
            margin-left: 24px;
        }
        @media (max-width: 600px){
            display: none;
        }
    }
    &__body{
        background: var(--bg-gray);
        border-radius: 16px;
        padding: 80px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        @media (max-width: 1600px){
            padding: 60px 40px;
            gap: 30px;
        }
        @media (max-width: 1000px){
            flex-direction: column;
            border-radius: 0;
        }
        @media (max-width: 600px){
            padding: 60px 20px;
        }
    }
    &__content{
        max-width: 407px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        @media (max-width: 1000px){
            max-width: 100%;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        @media (max-width: 600px){
            font-size: 24px;
        }
    }
    &__img{
        width: 100%;
        mix-blend-mode: darken;
        pointer-events: none;
        @media (max-width: 1000px){
            display: none;
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;
            //Text
            line-height: 1.1;
            a{
                @media (any-hover: hover){
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__phone{
        font-weight: 500;
        font-size: 20px;
        @media (max-width: 600px){
            font-size: 18px;
        }
    }
    form{
        max-width: 465px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        @media (max-width: 1000px){
            max-width: 100%;
        }
    }
    &__inputs{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1 1 auto;
    }
    &__inputs input, &__inputs textarea{
        appearance: none;
        background: var(--white);
        border-radius: 6px;
        padding: 20px;
        color: var(--black);
        &::placeholder{
            color: inherit;
        }
    }
    &__inputs textarea{
        resize: none;
        min-height: 153px;
        flex: 1 1 auto;
    }
    &__file{
        min-width: 298px;
        background: #9ba8b5;
        border-radius: 42px;
        padding: 12px 30px 12px 18px;
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;
        &::before{
            content: "";
            width: 30px;
            aspect-ratio: 4/4;
            flex-shrink: 0;
            background-image: url("../images/icons/file.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        //Text
        font-weight: 500;
        color: var(--white);
        @media (max-width: 600px){
            max-width: 100%;
            width: 100%;
            justify-content: center;
        }
        input{
            cursor: pointer;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    &__privacy{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        label{
            display: flex;
            align-items: flex-start;
            gap: 16px;
            @media (max-width: 600px){
                gap: 14px;
            }
            input{
                appearance: none;
                width: 25px;
                height: 25px;
                flex-shrink: 0;
                background: var(--white);
                border-radius: 3px;
                position: relative;
                @media (max-width: 600px){
                    width: 20px;
                    height: 20px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 11px;
                    height: 8px;
                    background-image: url("../images/icons/checkbox.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition: .2s ease;
                    opacity: 0;
                    pointer-events: none;
                }
                &:checked::before{
                    opacity: 1;
                }
            }
            span{
                font-size: 13px;
                @media (max-width: 600px){
                    font-size: 12px;
                }
                a{
                    color: var(--primary);
                    display: inline;
                }
            }
        }
    }
    form .btn{
        max-width: 236px;
        width: 100%;
        @media (max-width: 600px){
            max-width: 100%;
        }
    }
}