.popup{
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transition: .2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	padding: 0 20px;
	&.active{
		opacity: 1;
		pointer-events: auto;
	}
	&__body{
		max-width: 740px;
		width: 100%;
		max-height: 80vh;
		overflow: hidden;
		overflow-y: auto;
		padding: 60px;
		background: var(--bg-gray);
		border-radius: 16px;
		position: relative;
		&::-webkit-scrollbar{
			display: none;
		}
        @media (max-width: 1600px){
            padding: 40px;
        }
		@media (max-width: 600px){
			padding: 40px 20px;
		}
		.popup__close {
			cursor: pointer;
			position: absolute;
            top: 20px;
			right: 20px;
			width: 22px;
			height: 22px;
			background-image: url("../images/icons/close.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
    &__title{
        margin-bottom: 50px;
        @media (max-width: 1000px){
            margin-bottom: 30px;
        }
    }
    &__completed{
        max-width: 162px;
        width: 100%;
    }
}

.popup-filter{
    &__body{
        width: 100%;
    }
    fieldset + fieldset{
        margin-top: 30px;
        @media (max-width: 600px){
            margin-top: 20px;
        }
    }
    fieldset{
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: 30px;
        align-items: flex-start;
        @media (max-width: 600px){
            grid-template-columns: repeat(1, minmax(auto, 1fr));
            gap: 20px;
        }
        h4{
            margin-top: 8px;
            //Text
            font-weight: 400;
            font-size: 16px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
        label{
            position: relative;
            display: block;
            input{
                cursor: pointer;
                appearance: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                &:checked + span{
                    background: var(--primary);
                    color: var(--white);
                }
            }
            span{
                border-radius: 4px;
                padding: 8px 16px;
                border: 1px solid rgba(155, 168, 181, .5);
                transition: .3s ease;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
    &__btns{
        margin-top: 50px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        @media (max-width: 1000px){
            margin-top: 30px;
            width: 100%;
            justify-content: space-between;
            button{
                flex: 1 1 auto;
            }
        }
    }
    &__clean{
        background: #9ba8b5;
        border-radius: 8px;
        padding: 10px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease;
        //Text
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        color: var(--white);
        @media (any-hover: hover){
            &:hover{
                background: #8696a6;
            }
        }
    }
}

.popup-call{
    &__form{
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .input-wrapper{
                width: 100%;
                position: relative;
                input, textarea{
                    appearance: none;
                    width: 100%;
                    background: var(--white);
                    border-radius: 6px;
                    padding: 20px;
                    color: var(--black);
                    &::placeholder{
                        color: inherit;
                    }
                }
                textarea{
                    resize: none;
                    min-height: 150px;
                }
            }
        }
        &-privacy{
            margin: 14px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;
            @media (max-width: 600px){
                gap: 10px;
            }
            label{
                display: flex;
                align-items: flex-start;
                gap: 16px;
                @media (max-width: 600px){
                    gap: 14px;
                }
                input{
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    flex-shrink: 0;
                    background: var(--white);
                    border-radius: 3px;
                    position: relative;
                    @media (max-width: 600px){
                        width: 20px;
                        height: 20px;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 11px;
                        height: 8px;
                        background-image: url("../images/icons/checkbox.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        transition: .2s ease;
                        opacity: 0;
                        pointer-events: none;
                    }
                    &:checked::before{
                        opacity: 1;
                    }
                }
                span{
                    font-size: 13px;
                    @media (max-width: 600px){
                        font-size: 12px;
                    }
                    a{
                        display: inline-block;
                        color: var(--primary);
                        @media (max-width: 600px){
                            display: inline;
                        }
                        @media (any-hover: hover){
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        &-btn{
            max-width: 267px;
            @media (max-width: 600px){
                max-width: 100%;
            }
        }
    }
}

.popup-success{
    .popup__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        //Text
        text-align: center;
        @media (max-width: 1600px){
            gap: 40px;
        }
        @media (max-width: 600px){
            gap: 30px;
        }
    }
    .popup__title{
        margin: 0;
    }
    &__dscr{
        font-weight: 500;
        font-size: 16px;
        @media (max-width: 600px){
            font-size: 14px;
        }
    }
}