.product-item{
    background: rgba(237, 241, 245, 0.3);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &__img{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 290px;
            aspect-ratio: 4/4;
            object-fit: contain;
            display: block;
            mix-blend-mode: darken;
        }
    }
    &__body{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .product-code{
        margin-bottom: 10px;
    }
    &__title{
        font-weight: 40;
    }
    &__price{
        margin-top: auto;
        padding: 20px 0;
        //Text
        font-size: 24px;
    }
    &__nav{
        width: 100%;
        display: flex;
        gap: 10px;
    }
    &__add{
        flex: 1 1 auto;
        background: var(--primary);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease;
        //Text
        text-align: center;
        color: var(--white);
        @media (any-hover: hover){
            &:hover{
                background: var(--primary-dark);
            }
        }
    }
}