.product-count{
    background: var(--bg-gray);
    border-radius: 5px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
        appearance: none;
        width: 40px;
        text-align: center;
        background: transparent;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 4/4;
        padding: 14px;
    }
}