.search-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    pointer-events: none;
	opacity: 0;
	transition: .2s ease;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    display: flex;
	align-items: flex-start;
	justify-content: center;
	z-index: 999;
	padding: 0 20px;
	&.active{
		opacity: 1;
		pointer-events: auto;
	}
    form{
        margin-top: 80px;
        max-width: 1082px;
        width: 100%;
        display: flex;
        gap: 10px;
        @media (max-width: 600px){
            margin-top: 60px;
        }
        input{
            appearance: none;
            width: 100%;
            background: var(--white);
            border-radius: 6px;
            padding: 20px;
            color: var(--black);
            &::placeholder{
                color: inherit;
            }
        }
    }
}