.catalog{
    padding-top: 36px;
    &__title{
        margin-bottom: 24px;
    }
    &__categories{
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: var(--spacing24);
        @media (max-width: 1000px){
            grid-template-columns: repeat(2, minmax(auto, 1fr));
        }
        @media (max-width: 1000px){
            grid-template-columns: repeat(1, minmax(auto, 1fr));
        }
    }
    &__filter{
        margin-bottom: 24px;
        &-body{
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        &-btn{
            max-width: 240px;
            width: 100%;
            background: var(--bg-gray);
            border-radius: 6px;
            padding: 16px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            //Text
            font-size: 16px;
        }
        &-item{
            max-width: 240px;
            width: 100%;
            background: var(--bg-gray);
            border-radius: 6px;
            padding: 10px 15px 10px 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &::before{
                content: "";
                position: absolute;
                pointer-events: none;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                width: 13px;
                height: 7px;
                background-image: url("../images/icons/select-arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &-name{
                font-size: 11px;
                opacity: .5;
            }
            select{
                cursor: pointer;
                appearance: none;
                margin-top: 2px;
                background: transparent;
                font-size: 16px;
                width: 100%;
            }
        }
        &-active{
            margin-top: 12px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 8px;
            &-list{
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                li{
                    border: 1px solid rgba(155, 168, 181, 0.5);
                    border-radius: 4px;
                    padding: 6px 12px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    button{
                        display: flex;
                    }
                }
            }
            &-clean{
                background: #9ba8b5;
                border-radius: 4px;
                padding: 10px 23px;
                //Text
                font-weight: 600;
                font-size: 12px;
                color: var(--white);
            }
        }
    }
    &__products{
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 1fr));
        gap: var(--spacing24);
        @media (min-width: 2100px){
            grid-template-columns: repeat(5, minmax(auto, 1fr));
        }
        @media (max-width: 1600px){
            grid-template-columns: repeat(3, minmax(auto, 1fr));            
        }
        @media (max-width: 1000px){
            grid-template-columns: repeat(2, minmax(auto, 1fr));                    
        }
        @media (max-width: 700px){
            grid-template-columns: repeat(1, minmax(auto, 1fr));                    
        }
    }
    &__products-add{
        margin-top: 30px;
        width: 100%;
        background: var(--bg-gray);
        border-radius: 10px;
        padding: 18px 10px;
        transition: .3s ease;
        //Text
        font-weight: 500;
        text-align: center;
        @media (any-hover: hover){
            &:hover{
                background: var(--bg-gray-dark);
            }
        }
    }
    &__products-pagination{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @media (max-width: 600px){
            width: 100%;
            justify-content: space-between;
            gap: 20px;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 30px;
            @media (max-width: 600px){
                gap: 20px;
            }
            a{
                font-size: 16px;
                @media (any-hover: hover){
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &.current-page{
                    color: var(--primary);
                }
            }
        }
    }
    &__products-pagination-prev, &__products-pagination-next{
        font-size: 0;
        width: 50px;
        aspect-ratio: 4/4;
        flex-shrink: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__products-pagination-prev{
        background-image: url("../images/icons/pagination-prev.svg");
    }
    &__products-pagination-next{
        background-image: url("../images/icons/pagination-next.svg");
    }
    &__category{
        background: var(--bg-gray);
        border-radius: 10px;
        padding: 0 20px 0 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        &-img{
            max-width: 140px;
            aspect-ratio: 4/4;
            object-fit: contain;
            mix-blend-mode: darken;
            @media (max-width: 1600px){
                max-width: 130px;
            }
            @media (max-width: 600px){
                max-width: 100px;
            }
        }
        &-name{
            font-weight: 400;
            font-size: 16px;
        }
    }
}