.product-info{
    padding: 80px 0;
    @media (max-width: 1000px){
        padding: 60px 0;
    }
    @media (max-width: 600px){
        padding-top: 0;
    }
    &__inner{
        max-width: 1398px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: minmax(0, 2.05fr) minmax(0, 1fr);
        gap: var(--spacing24);
        @media (max-width: 1000px){
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        @media (max-width: 600px){
            gap: 60px;
        }
    }
    &__tabs-wrapper{
        padding: 80px;
        background: #fafbfc;
        border-radius: 16px;
        @media (max-width: 1600px){
            padding: 40px;
        }
        @media (max-width: 1100px){
            padding: 40px 20px;
        }
        @media (max-width: 600px){
            width: calc(100% + 40px);
            margin: 0 -20px;
            border-radius: 0px;
            padding: 60px 20px;
        }
    }
    &__tabs{
        margin-bottom: 60px;
        display: flex;
        gap: 60px;
        overflow-x: auto;
        &::-webkit-scrollbar{
            display: none;
        }
        @media (max-width: 1600px){
            margin-bottom: 40px;
            gap: 30px;
        }
    }
    &__tab{
        padding-bottom: 14px;
        border-bottom: 2px solid transparent;
        transition: .3s ease;
        //Text
        font-weight: 500;
        font-size: 18px;
        white-space: nowrap;
        &.active{
            border-color: var(--red);
        }
        @media (max-width: 1100px){
            font-size: 16px;
        }
    }
    &__tab-content{
        display: none;
        opacity: 0;
        transition: .2s ease;
        &.show{
            display: block;
        }
        &.active{
            opacity: 1;
        }
    }
    &__tab-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        @media (max-width: 1600px){
            gap: 30px;
        }
        @media (max-width: 600px){
            gap: 20px;
        }
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                .line{
                    flex: 1 1 auto;
                    background: #d9d9d9;
                    height: 1px;
                }
            }
        }
    }
    &__data{
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 1600px){
            padding: 0;
            gap: 40px;
        }
    }
    &__data-item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-title{
            font-weight: 500;
            font-size: 18px;
            @media (max-width: 600px){
                font-size: 16px;
            }
        }
        &-body{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            ul{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 12px;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    .line{
                        flex: 1 1 auto;
                        background: #d9d9d9;
                        height: 1px;
                    }
                }
            }
            a{
                text-decoration: underline;
                text-decoration-color: var(--red);
            }
        }
    }
}