.similar-news{
    padding-bottom: 80px;
    @media (max-width: 1000px){
        padding-bottom: 60px;
    }
    .title-section{
        margin-bottom: var(--spacing24);
    }
    &__items{
        @media (min-width: 1000px){
            display: grid;
            grid-template-columns: repeat(3, minmax(auto, 1fr));
            gap: var(--spacing24);
        }
    }
    .swiper-pagination{
        margin-top: 20px;
        display: none;
        @media (max-width: 1000px){
            display: flex;
        }
    }
}