@import './common/var';
@import './common/nullstyle';
@import './common/swiper-bundle.min';
@import './common/fonts';
@import './common/general';
@import './common/header';
@import './common/footer';

//Modules
@import './modules/popup';
@import './modules/title-section';
@import './modules/btn';
@import './modules/swiper-nav';
@import './modules/aside';
@import './modules/calculation-form';
@import './modules/breadcrumbs';
@import './modules/product-item';

//Front
@import './pages/front/promo';
@import './pages/front/catalog-front';
@import './pages/front/services-front';
@import './pages/front/about-us-front';
@import './pages/front/video';
@import './pages/front/delivery';
@import './pages/front/advantages';
@import './pages/front/faq';

//Catalog
@import './pages/catalog/catalog';