@import './common/var';
@import './common/nullstyle';
@import './common/swiper-bundle.min';
@import './common/fonts';
@import './common/general';
@import './common/header';
@import './common/footer';

//Modules
@import './modules/popup';
@import './modules/title-section';
@import './modules/btn';
@import './modules/swiper-nav';
@import './modules/aside';
@import './modules/calculation-form';
@import './modules/breadcrumbs';
@import './modules/product-item';
@import './modules/product-count';
@import './modules/news-item';

//Front
@import './pages/front/promo';
@import './pages/front/catalog-front';
@import './pages/front/services-front';
@import './pages/front/about-us-front';
@import './pages/front/video';
@import './pages/front/delivery';
@import './pages/front/advantages';
@import './pages/front/faq';

//Catalog
@import './pages/catalog/catalog';

//Services
@import './pages/services/services';

//News
@import './pages/news/news';
@import './pages/news/similar-news';

//About us
@import './pages/about-us/about-us';

//Product card
@import './pages/product-card/product-card';
@import './pages/product-card/product-info';
@import './pages/product-card/similar-products';

//Cart
@import './pages/cart/cart-empty';