@font-face {
	font-family: 'TikTok Sans';
	src: url("../fonts/TikTok Sans/TikTokSans_24pt_SemiExpanded-Regular.woff2");
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'TikTok Sans';
	src: url("../fonts/TikTok Sans/TikTokSans_24pt_Expanded-Medium.woff2");
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}