.footer{
    flex-shrink: 0;
    padding: 50px;
    background: #33353C;
    color: var(--white);
    overflow: hidden;
    @media (max-width: 1600px){
        padding: 50px 0px;
    }
    @media (max-width: 600px){
        padding: 40px 0;
    }
    &__inner{
        position: relative;
        z-index: 0;
        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            bottom: -70px;
            right: 0;
            height: calc(100% + 50px + 20px);
            aspect-ratio: 16/10;
            background-image: url("../images/footer_img.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 800px){
                display: none;
            }
        }
    }
    &__header{
        display: flex;
        align-items: center;
        gap: 44px;
        @media (max-width: 1600px){
            gap: var(--spacing24);
        }
        @media (max-width: 1000px){
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: 600px){
            gap: 30px;
        }
    }
    &__header-logo{
        max-width: 309px;
        @media (max-width: 1600px){
            max-width: 280px;
        }
    }
    &__menu{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        //Text
        font-weight: 500;
        font-size: 16px;
        @media (max-width: 1600px){
            gap: var(--spacing24);
        }
        @media (max-width: 1280px){
            font-size: 14px;
        }
        @media (max-width: 600px){
            flex-direction: column;
            align-items: flex-start;
        }
        a{
            @media (any-hover: hover){
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    &__contacts{
        margin-top: 42px;
        display: flex;
        align-items: center;
        gap: 36px;
        @media (max-width: 1600px){
            margin-top: 30px;
            gap: var(--spacing24);
        }
        @media (max-width: 600px){
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    &__call-wrapper{
        background: rgba(255, 255, 255, 0.04);
        border-radius: 10px;
        padding: 20px 20px 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 43px;
        @media (max-width: 1600px){
            padding: 16px;
            gap: var(--spacing24);
        }
        @media (max-width: 600px){
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 14px;
        }
    }
    &__call{
        font-weight: 500;
        font-size: 20px;
        white-space: nowrap;
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
        @media (max-width: 1600px){
            font-size: 18px;
        }
    }
    &__call-btn{
        background: var(--primary);
        border-radius: 6px;
        padding: 12px 20px;
        transition: .3s ease;
        //Text
        font-weight: 500;
        @media (any-hover: hover){
            &:hover{
                background: var(--primary-dark);
            }
        }
        @media (max-width: 1600px){
            padding: 12px 16px;
        }
        @media (max-width: 600px){
            width: 100%;
        }
    }
    &__email{
        text-decoration: underline;
        text-decoration-color: var(--primary);
    }
    &__info{
        margin-top: 96px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        @media (max-width: 1600px){
            margin-top: 80px;
        }
        @media (max-width: 600px){
            margin-top: 30px;
            br{
                display: none;
            }
        }
    }
    &__address{
        opacity: .6;
    }
    &__info nav ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        //Text
        line-height: 1.1;
        a{
            text-decoration: underline;
            text-decoration-color: var(--primary);
        }
    }
    &__bottom{
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        //Text
        font-size: 12px;
        @media (max-width: 1600px){
            margin-top: 30px;
        }
        @media (max-width: 600px){
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    &__copyright{
        opacity: .6;
    }
    &__mark{
        max-width: 315px;
        opacity: .5;
        //Text
        text-align: right;
        @media (max-width: 600px){
            max-width: 100%;
            text-align: left;
            order: -1;
        }
    }
}