body{
    display: flex;
    height: 100%;
    //Text
	font-family: 'TikTok Sans';
    font-size: 14px;
	&.popup-open{
		overflow: hidden;
	}
}

html{
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    @media (max-width: 1000px){
        scrollbar-gutter: auto;
    }
}

.app-content{
    overflow-y: auto;
    width: calc(100% - 470px);
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
    &::-webkit-scrollbar{
        width: 5px;
        background: 
        transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: #6c7481;
        border-radius: 27px;
    }
    @media (max-width: 1900px){
        width: calc(100% - 350px);
    }
    @media (max-width: 1600px){
        width: calc(100% - 300px);
    }
    @media (max-width: 1400px){
        width: 100%;
    }
}

main{
	flex: 1 1 auto;
}

.container{
	width: 100%;
	padding: 0 var(--spacing24);
    @media (max-width: 600px){
        padding: 0 20px;
    }
}