.header{
    padding-top: 30px;
    flex-shrink: 0;
    @media (max-width: 1600px){
        padding-top: 20px;
    }
    @media (max-width: 1400px){
        padding: 20px 0;
    }
    @media (max-width: 600px){
        padding: 10px 0;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing24);
    }
    &__menu-btn, &__logo{
        display: none;
        @media (max-width: 1400px){
            display: block;
        }
    }
    &__menu-btn{
        width: 40px;
        aspect-ratio: 4/4;
        flex-shrink: 0;
        background: var(--primary);
        border-radius: 8px;
        position: relative;
        @media (max-width: 600px){
            width: 38px;
        }
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: var(--spacing24);
            aspect-ratio: 4/4;
            background-image: url("../images/icons/menu.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 600px){
                width: 20px;
            }
        }
    }
    &__logo{
        max-width: 200px;
        @media (max-width: 600px){
            margin: 0 auto;
        }
        @media (max-width: 600px){
            max-width: 160px;
        }
    }
    &__location{
        position: relative;
        @media (max-width: 1270px){
            display: none;
        }
        &-current{
            background: var(--bg-gray);
            border-radius: 40px;
            padding: 10px 28px;
            display: flex;
            align-items: center;
            gap: 14px;
            &::before{
                content: "";
                width: var(--spacing24);
                aspect-ratio: 4/4;
                background-image: url("../images/icons/location.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &::after{
                content: "";
                width: 10px;
                height: 6px;
                background-image: url("../images/icons/arrow-b.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &-list{
            position: absolute;
            top: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
        }
    }
    &__call{
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
        @media (max-width: 1270px){
            display: none;
        }
    }
    &__email{
        @media (max-width: 1270px){
            display: none;
        }
        a{
            padding-bottom: 2px;
            border-bottom: 1px solid var(--primary);
        }
    }
    &__btns{
        margin-left: auto;
        display: flex;
        gap: 14px;
        @media (max-width: 1600px){
            gap: 0;
        }
        @media (max-width: 600px){
            margin-left: 0;
        }
    }
    &__btn{
        background: var(--bg-gray);
        border-radius: 8px;
        padding: 13px 20px;
        transition: .3s ease;
        @media (any-hover: hover){
            &:hover{
                background: var(--bg-gray-dark);
            }
        }
        @media (max-width: 1600px){
            display: none;
        }
    }
    &__cart{
        background: var(--red);
        padding: 8px 8px 8px 20px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: .3s ease;
        //Text
        font-weight: 500;
        color: var(--white);
        @media (any-hover: hover){
            &:hover{
                background: var(--red-dark);
            }
        }
        @media (max-width: 600px){
            font-size: 0;
            padding: 10px;
            gap: 0;
            width: 38px;
            aspect-ratio: 4/4;
            position: relative;
        }
        &::before{
            content: "";
            width: var(--spacing24);
            aspect-ratio: 4/4;
            background-image: url("../images/icons/cart.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 600px){
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
            }
        }
        &-count{
            border-radius: 4px;
            padding: 6px 10px;
            background: var(--white);
            //Text
            font-weight: 500;
            color: var(--black);
            @media (max-width: 600px){
                display: none;
            }
        }
    }
    &__nav{
        padding: var(--spacing24) 0;
        display: flex;
        align-items: center;
        gap: 46px;
        @media (max-width: 1600px){
            gap: var(--spacing24);
        }
        @media (max-width: 1400px){
            display: none;
        }
    }
    &__search-btn{
        padding-left: 20px;
        @media (max-width: 1400px){
            padding-left: 0;
        }
    }
    &__catalog{
        background: var(--primary);
        border-radius: 8px;
        padding: 11px 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: .3s ease;
        //Text
        font-weight: 500;
        font-size: 16px;
        color: var(--white);
        &::before{
            content: "";
            width: 10px;
            aspect-ratio: 4/4;
            flex-shrink: 0;
            background-image: url("../images/icons/catalog.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        @media (any-hover: hover){
            &:hover{
                background: var(--primary-dark);
            }
        }
        @media (max-width: 1600px){
            padding: 11px 20px;
        }
    }
    &__menu{
        display: flex;
        gap: 46px;
        //Text
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        @media (max-width: 1600px){
            gap: var(--spacing24);
        }
        a{
            @media (any-hover: hover){
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}