/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
	appearance: none;
	margin: 0;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: 0;
}

ul li {
  list-style: none;
}
ol li {
  list-style: none;
}

img {
	width: 100%;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
	font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}