:root{
    --primary: #004CBE;
    --red: #E62D15;
    --black: #000000;
    --white: #FFFFFF;
    --dark: #383838;
    --bg-gray: #EDF1F5;

    --spacing24: 24px;
    @media (max-width: 600px){
        --spacing24: 20px;
    }
}