:root{
    --primary: #004CBE;
    --primary-dark: #003E9B;
    --red: #E62D15;
    --red-dark: #C4210D;
    --black: #000000;
    --white: #FFFFFF;
    --dark: #383838;
    --bg-gray: #EDF1F5;
    --bg-gray-dark: #D5DEE6;

    --spacing24: 24px;
    @media (max-width: 600px){
        --spacing24: 20px;
    }
}