.contacts{
    padding: 36px 0 80px 0;
    @media (max-width: 1000px){
        padding: 36px 0 0 0;
    }
    .title-section{
        margin-bottom: 80px;
        @media (max-width: 1000px){
            margin-bottom: 60px;
        }
        @media (max-width: 600px){
            margin-bottom: 40px;
        }
    }
    &__inner{
        background: var(--bg-gray);
        border-radius: 10px;
        padding: 50px;
        @media (max-width: 1100px){
            padding: 40px;
        }
        @media (max-width: 600px){
            padding: 30px 20px;
            padding-bottom: 60px;
            width: calc(100% + 40px);
            margin: 0 -20px;
            border-radius: 0;
        }
    }
    &__top{
        display: flex;
        align-items: flex-start;
        gap: 80px;
        margin-bottom: 50px;
        @media (max-width: 1600px){
            flex-direction: column;
            gap: 40px;
        }
        @media (max-width: 1000px){
            margin-bottom: 30px;
        }
        @media (max-width: 600px){
            gap: 30px;
        }
    }
    &__title{
        font-weight: 400;
        font-size: 24px;
        @media (max-width: 1280px){
            font-size: 21px;
        }
        @media (max-width: 1000px){
            font-size: 20px;
        }
        @media (max-width: 600px){
        }
    }
    &__info{
        display: flex;
        align-items: flex-start;
        gap: 60px;
        @media (max-width: 1600px){
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, 1fr));
            gap: var(--spacing24);
        }
        @media (max-width: 800px){
            grid-template-columns: repeat(1, minmax(auto, 1fr));
        }
        ul{
            font-size: 16px;
            @media (max-width: 600px){
                font-size: 14px;
            }
        }
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: var(--spacing24);
        @media (max-width: 1100px){
            grid-template-columns: repeat(1, minmax(auto, 1fr));        
        }
    }
    &__item{
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        iframe{
            display: block;
            border: none !important;
            width: 100% !important;
            height: 100% !important;
            aspect-ratio: 16/13.7;
            filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
            @media (max-width: 1600px){
                aspect-ratio: 16/16;                
            }
            @media (max-width: 600px){
                display: none;
            }
        }
        &-body{
            position: absolute;
            z-index: 10;
            top: 20px;
            left: 20px;
            max-width: 320px;
            background: var(--white);
            border-radius: 5px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            @media (max-width: 600px){
                position: static;
                max-width: 100%;
                width: 100%;
                padding: 20px;
            }
        }
        &-title{
            font-weight: 400;
            font-size: 30px;
            @media (max-width: 1600px){
                font-size: 26px;
            }
            @media (max-width: 1100px){
                font-size: 24px;
            }
            @media (max-width: 600px){
                font-size: 21px;
            }
        }
        &-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            &-title{
                font-weight: 500;
                font-size: 16px;
            }
            &-dscr{
                opacity: .7;
                //Text
                font-weight: 500;
                a{
                    @media (any-hover: hover){
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}