.about-us-front{
    padding: 80px 0;
    @media (max-width: 1000px){
        padding: 60px 0;
    }
    .title-section{
        @media (max-width: 600px){
            br{
                display: none;
            }
        }
    }
    &__inner{
        max-width: 1082px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 60px;
        @media (max-width: 1600px){
            gap: 40px;
        }
    }
    &__img{
        max-width: 183px;
        @media (max-width: 1600px){
            max-width: 160px;
        }
        @media (max-width: 1000px){
            display: none;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        @media (max-width: 600px){
            gap: 20px;
        }
    }
    &__dscr{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        //Text
        font-size: 16px;    
        @media (max-width: 600px){
            font-size: 14px;
            gap: 20px;
        }
        h3, h4, h5, h6{
            font-weight: 500;
            font-size: 20px;
            @media (max-width: 600px){
                font-size: 18px;
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            li{
                display: flex;
                align-items: center;
                gap: 20px;
                &::before{
                    content: "";
                    width: 14px;
                    flex-shrink: 0;
                    aspect-ratio: 4/4;
                    background-image: url("../images/icons/check-list.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}