.catalog-front{
    margin-top: var(--spacing24);
    &__inner{
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: var(--spacing24);
        @media (max-width: 1000px){
            grid-template-columns: repeat(1, minmax(auto, 1fr));        
        }
    }
    &__item{
        background-color: #33353c;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        overflow: hidden;
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        //Text
        color: var(--white);
        @media (max-width: 1600px){
            padding: 30px 40px;
        }
        @media (max-width: 1112px){
            padding: 30px;
        }
        @media (max-width: 600px){
            padding: 30px 20px;
            gap: 20px;
        }
        &-title{
            font-weight: 500;
            font-size: 22px;
            @media (max-width: 600px){
                font-size: 20px;
            }
        }
        &-dscr{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            p{
                opacity: .6;
            }
            ul{
                opacity: .6;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                @media (max-width: 600px){
                    gap: 10px;
                }
            }
        }
        &-btn{
            margin-top: auto;
            background: var(--white);
            border-radius: 35px;
            padding: 12px var(--spacing24);
            //Text
            color: var(--black);
            text-align: center;
            @media (max-width: 600px){
                width: 100%;
            }
        }
    }
}