.faq{
    padding-top: 80px;
    @media (max-width: 1000px){
        padding-top: 0;
    }
    .title-section{
        margin-bottom: 50px;
        @media (max-width: 1000px){
            margin-bottom: 30px;
        }
    }
    &__inner{
        max-width: 1082px;
        margin: 0 auto;
    }
    &__items{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 600px){
            gap: 20px;
        }
    }
    &__item{
        background: var(--bg-gray);
        border-radius: 10px;
        padding: 40px;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        @media (max-width: 600px){
            padding: 30px 20px;
            gap: 10px;
            flex-direction: column;
        }
        &-num{
            min-width: 67px;
            flex-shrink: 0;
            //Text
            font-size: 32px;
            color: var(--primary);
            @media (max-width: 600px){
                font-size: 28px;
            }
        }
        &-body{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
        &-title{
            font-weight: 500;
            font-size: 20px;
            @media (max-width: 600px){
                font-size: 18px;
            }
        }
        &-dscr{
            opacity: .7;
            //Text
            font-size: 16px;
            @media (max-width: 600px){
                font-size: 14px;
            }
        }
    }
}