.promo{
    .container{
        @media (max-width: 1000px){
            padding: 0;
        }
    }
    .swiper{
        border-radius: 20px;
        @media (max-width: 1000px){
            border-radius: 0;
        }
    }
    .swiper-wrapper{
        display: flex;
    }
    .swiper-slide{
        min-height: 500px;
        height: auto;
        @media (max-width: 1000px){
            min-height: 420px;
        }
        @media (max-width: 600px){
            min-height: 40dvh;
        }
    }
    &__slide{
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        @media (max-width: 1000px){
            border-radius: 0;
        }
        @media (max-width: 600px){
            padding: 40px 20px;
            padding-bottom: 60px;
            align-items: flex-start;
        }
        &-body{
            max-width: 654px;
            width: 100%;
            margin-left: 20%;
            //Text
            color: var(--white);
            @media (max-width: 1112px){
                margin-left: 0;
            }
            @media (max-width: 600px){
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &-title{
            //Text
            font-weight: 500;
            font-size: 40px;
            @media (max-width: 1600px){
                font-size: 36px;
            }
            @media (max-width: 1112px){
                font-size: 32px;
            }
            @media (max-width: 1000px){
                font-size: 28px;
            }
            @media (max-width: 800px){
                font-size: 26px;
            }
        }
        &-dscr{
            margin-top: 15px;
            //Text
            font-weight: 500;
            @media (max-width: 600px){
                margin-top: 10px;
            }
        }
        &-btn{
            margin-top: 40px;
            max-width: 240px;
            width: 100%;
            @media (max-width: 600px){
                margin-top: auto;
                max-width: 100%;
            }
        }
    }
    &__nav{
        position: absolute;
        z-index: 10;
        right: 50px;
        bottom: 50px;
        display: flex;
        align-items: center;
        gap: 18px;
        @media (max-width: 1600px){
            right: 40px;
            bottom: 40px;
        }
        @media (max-width: 1000px){
            right: 20px;
            bottom: 20px;
        }
        @media (max-width: 600px){
            right: auto;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 24px;
        }
        .swiper-button-prev, .swiper-button-next{
            @media (max-width: 600px){
                display: none;
            }
        }
    }
}