.services-front{
    padding: var(--spacing24) 0;
    @media (max-width: 1000px){
        padding: 0;
        padding-top: 60px;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: var(--spacing24);
        align-items: center;
        @media (max-width: 1000px){
            grid-template-columns: repeat(1, minmax(auto, 1fr));
        }
    }
    .title-section{
        text-align: center;
        @media (max-width: 1000px){
            text-align: left;
        }
    }
    &__item{
        min-height: 160px;
        background: var(--primary);
        border-radius: 16px;
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        //Text
        color: var(--white);
        @media (min-width: 1920px){
            min-height: 190px;
        }
        @media (max-width: 1000px){
            min-height: 140px;
        }
        @media (max-width: 600px){
            padding: 20px;
        }
        &-title{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            //Text
            font-weight: 500;
            font-size: 18px;
            @media (max-width: 600px){
                width: 100%;
                justify-content: space-between;
                gap: 30px;
            }
            &::after{
                content: "";
                width: 49px;
                flex-shrink: 0;
                height: 10px;
                background-image: url("../images/icons/arrow-catalog.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}